body {
    font-family: "Roboto", sans-serif;
}

/*-----------------------------------------------------Colours*/

/* Band name and Navbar = rgba(63,63,63,.8) / #3f3f3f

/* placeholder div*/
div.container-fluid.background {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 300px;
}

/*-----------------------------------------------------Navbar*/

.navbar {
    padding: 0 6px; !important
}
.navbar a.navbar-brand h1 {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-size: 200%;
    font-weight: 500;
    color: rgba(63,63,63,.8);
    padding-top: 8px;
    margin-bottom: 0;
}

.navbar a.navbar-brand h1:hover {
    color: red;
}

a.nav-item.nav-link {
    font-family: "Raleway", sans-serif;
    color: #3f3f3f;
    font-size: 95%;
    font-weight: 500;
    padding: 5px 6px;
}

.navbar-nav a.nav-item.nav-link:hover {
    color: red;
}

.navbar-nav a.nav-item.nav-link.active {
    color: limegreen
}

a.nav-item.nav-link i {
    font-size: 110%;
    padding-top: 1px;
}

/*---------------------------------------------------Footer*/

.footer {
    padding: 10px 20%;
}
.footer-bandname a h4 {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-size: 100%;
    font-weight: 500;
    color: rgba(63,63,63,.8);
    padding: 0;
}

.footer-bandname a:hover {
    text-decoration: none;
    color: red;
}

.footer-contact-info h4, .footer-contact-info a h4 {
    font-size: 12px;
    color: #3f3f3f;
}

.footer-contact-info a:hover,
.footer-bandname a:hover,
.footer-social-media a:hover {
    text-decoration: none;
}

#footer-form:hover,
#footer-logo:hover,
#footer-media-link:hover {
    color: red;
}

.footer-social-media {
    padding-bottom: 10px;
}

.footer-social-media i {
    padding: 0 8px;
    color: rgba(63,63,63,.8);
    font-size: 120%;
}

/*---------------------------------------------------Media Queries*/

